img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(92, 78, 145);
}

img {
    width: 100%;
    float: none;
}

article {
    float: left;
    width: 46%;
    padding: 2%;
    background-color: #f1f1f1;
}

.tab {
    display: table;
    clear: both;
    width: 98%;
    background-color: rgb(134, 51, 51);
    padding: 1%;
}

aside {
    background-color: #666;
    width: 48%;
    padding: 1%;
    float: left;
}

footer {
    background-color: rgb(92, 78, 145);
    text-align: center;
    clear: both;
    color: white;
    padding: 5px;
    margin-top: 5px;
}